<footer class="footer wrap pale">
  <div>
    <ul>
      <li> <a href="https://www.instagram.com/_dicksonphotos/"> <i class="fa fa-instagram"></i></a> </li>
      <li> <a href="mailto:jonathan.dickson96@gmail.com?subject=Photography%20Inquiry"> <i  class="fa fa-google"></i></a> </li>
    </ul>
  </div>
  <p>&copy;&nbsp;<span class="year"></span>&nbsp;{{ .Site.Title }}</p>
  <p class="attribution upcase">{{ safeHTML (T "designed_by" .Site.Data.designer) }}</p>
</footer>
{{ $scriptPath := "js/index.js" }}
{{ $scripts := resources.Get $scriptPath | resources.ExecuteAsTemplate $scriptPath . | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $scripts.Permalink }}"></script>