{{ define "main" }}
{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
<div class = 'wrap pt-2 mt-2'>
  {{- $paginator := .Paginate $pages -}}
  {{- $size := $paginator.PageSize }}
  {{- $scratch := newScratch }}
  {{ partial "carousel.html" (dict "context" . "items" "1" "height" "75" "unit" "%" "duration" "5000") }}
  {{- range $index, $value := $paginator.Pages }}
    {{ if isset .Params "image" }}
      {{ $scratch.Set "image" .Params.image }}
    {{ else }}
      {{ $scratch.Set "image" "thumbnail.svg" }}
    {{ end }}
    {{ $image := $scratch.Get "image" }}
    {{ $bg := (absURL (printf "images/%s" $image)) }}
    {{- if in $image "https://" }}
      {{- $bg = $image }}
    {{- end }}
  {{- if and (eq $index 0) (gt $size 1)  }}<div class = 'grid-2 article_showcase'>{{ end }}
  {{- if and (eq $index (add $size -1)) (gt $size 1) }}</div>{{ end }}
  {{- end }}
  
</div>
{{ end }}
